<app-header></app-header>
<div class="container ">
    <div class="heading"> <span>CUSTOMER DETAIL</span></div>
            <div class="item" >
        <div class="label"><span>First Name </span></div>
        <div class= "label_value" ><span>{{firstName}}</span></div>
    </div>
    <div class="item" >
        <div class="label"><span>Last Name </span></div>
        <div class= "label_value" ><span>{{lastName}}</span></div>
    </div>
    <div class="item" >
        <div class="label"><span>Address </span></div>
        <div class= "label_value" ><span>{{Address}}</span></div>
    </div>
    <div class="item" >
        <div class="label"><span>Gender</span></div>
        <div class= "label_value" ><span>{{gender}}</span></div>
    </div>
    <div class="item" >
        <div class="label"><span>Email</span></div>
        <div class= "label_value" ><span>{{email}}</span></div>
    </div>
    <div class="item" >
        <div class="label"><span>State</span></div>
        <div class= "label_value" ><span>{{state}}</span></div>
    </div>


</div>